
Tree Based Models - Q05 - 07/July
===================================
Write a program to calculate the entropy for each of the variables in the following dataset.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Read the data file
df = pd.read_csv('/Users/riteshturlapaty/ai-ml-learning/AccelerateAI/7. DecisionTree/DailyQuiz/q5_data.csv')
df

       age  income student credit_rating buys_laptop
0     <=30    high      no          fair          no
1     <=30    high      no     excellent          no
2   31..40    high      no          fair         yes
3      >40  medium      no          fair         yes
4      >40     low     yes          fair         yes
5      >40     low     yes     excellent          no
6   31..40     low     yes     excellent         yes
7     <=30  medium      no          fair          no
8     <=30     low     yes          fair         yes
9      >40  medium     yes          fair         yes
10    <=30  medium     yes     excellent         yes
11  31..40  medium      no     excellent         yes
12  31..40    high     yes          fair         yes
13     >40  medium      no     excellent          no

In [3]:
# Calculate entropy value
entropy_list=[]

for coln_name in df.columns:
    prob_val=df[coln_name].value_counts(normalize=True)
    prob_val_list=prob_val.to_list()
    prob_val_sum=np.sum(prob_val)
    n = [(i*np.log2(i)) for i in prob_val_list]
    entropy_list.append(round(-1 * sum(n),2))

In [4]:
new_df=pd.DataFrame(list(zip(list(df.columns),entropy_list)),columns=['Column name','Entropy'])
new_df

     Column name  Entropy
0            age     1.58
1         income     1.56
2        student     1.00
3  credit_rating     0.99
4    buys_laptop     0.94